{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Inner Heading Start -->
<div class="innerHeading-wrap">
    <div class="container">
      <h1>About Us</h1>
    </div>
  </div>
  <!-- Inner Heading End --> 
  
  <!-- Inner Content Start -->
  <div class="innerContent-wrap">
    <div class="container">
      <div class="about-wrap">
        <div class="row">
          <div class="col-lg-6">
            <div class="about_right">
              <div class="title">
                <p>About Industrip</p>
                <h1><span>Industry</span> and Engineering</h1>
              </div>
              <p>At Plastic Cash, we're on a mission to revolutionize the way plastic transactions are conducted. Our platform serves as a bridge between vendors of plastic products and customers seeking sustainable solutions. We believe in harnessing the power of technology to create a positive impact on the environment and the global plastic economy.</p>
              
            </div>
          </div>
          <div class="col-lg-6">
            <div class="aboutImg"><img src="{% static 'images/clean.jpg' %}" alt=""> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Inner Content End --> 
  
  <!--Get Quote Start-->
  <div class="get-wrap">
    <div class="container">
      <div class="title">
        <h1>Contact<span>Us</span></h1>
      </div>
      <p>Join us in our mission to reshape the future of plastic consumption. Whether you're a vendor looking to showcase your products or a customer seeking sustainable solutions, Plastic Cash welcomes you to be part of the movement towards a greener, more sustainable tomorrow.</p>
      <div class="readmore readbtn"><a href="#">Contact Us <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a></div>
    </div>
  </div>
  <!--Get Quote End--> 
  
  <!-- Team Start -->
  <div class="team-section">
    <div class="container">
      <div class="title">
        <h1>Our <span>Team</span></h1>
        <p>At Plastic Cash, our team is comprised of dedicated individuals passionate about driving positive change in the plastic industry. Together, we're committed to promoting sustainability, fostering innovation, and building a brighter future for generations to come.</p>
      </div>
      <div class="row clearfix"> 
        <!-- Team Block -->
        <div class="team-block col-lg-4">
          <div class="inner-box">
            <div class="image-box">
              <div class="image"><a href="team.html"><img src="{% static 'images/team-1.jpg' %}" alt=""></a></div>
              <ul class="social-links">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
              </ul>
              <h3 class="name"><a href="team.html">Danial Jain</a></h3>
            </div>
            <span class="designation">Mechanical Engineering</span> </div>
        </div>
        
        <!-- Team Block -->
        <div class="team-block col-lg-4">
          <div class="inner-box">
            <div class="image-box">
              <div class="image"><a href="team.html"><img src="{% static 'images/team-2.jpg' %}" alt=""></a></div>
              <ul class="social-links">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
              </ul>
              <h3 class="name"><a href="team.html"> Margorie Hych</a></h3>
            </div>
            <span class="designation">Testing Manager</span> </div>
        </div>
        
        <!-- Team Block -->
        <div class="team-block col-lg-4">
          <div class="inner-box">
            <div class="image-box">
              <div class="image"><a href="team.html"><img src="{% static 'images/team-3.jpg' %}" alt=""></a></div>
              <ul class="social-links">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
              </ul>
              <h3 class="name"><a href="team.html">Cheryl Ray</a></h3>
            </div>
            <span class="designation">Interior Designer</span> </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team End --> 

{% endblock content %}
    