{% load static %}
<!--Footer Start-->
<div class="footer-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="footer-logo"><h2> <span class="text-light">PLASTIC</span>  <span style="color: #FF5E14;">KASH</span></h2></div>
          <p>Our mission is to promote sustainability by facilitating transactions between vendors and customers committed to reducing plastic waste and environmental impact. </p>
          <div class="readbtn"><a href="#">Read More <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a> </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <h3>Quick links</h3>
          <ul class="footer-links">
            <li> <a href="#."> Privacy Policy</a></li>
            <li> <a href="#.">Help Center</a></li>
            <li> <a href="#.">Terms & Uses</a></li>
            <li> <a href="#.">Careers</a></li>
            <li> <a href="#.">Meet the Team</a></li>
            <li> <a href="#.">Contact </a></li>
          </ul>
        </div>
        <!-- <div class="col-lg-3 col-sm-6">
          <h3>Our Services</h3>
          <ul class="footer-links">
            <li> <a href="#"> Oil & Gas Productions</a></li>
            <li> <a href="#">Automobile Service</a></li>
            <li> <a href="#">Chemical Industry</a></li>
            <li> <a href="#">Material Service</a></li>
            <li> <a href="#">Mechanical Industry</a></li>
            <li> <a href="#">Welding services </a></li>
          </ul>
        </div> -->
        <div class="col-lg-4 col-sm-12">
          <h3>Contact Us</h3>
          <div class="footerInfo">5 Peter Ejim street</div>
          <div class="footerInfo mobile"><a href="#.">08167000077</a></div>
          <div class="footerInfo footerEmail"><a href="#.">info@plasticcash.com</a></div>
          <div class="social-media">
            <ul>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Footer Start--> 
  
  <!--Copyright Start-->
  <div class="copyright-wrap">
    <div class="container">
      <div class="copyright">Copyright © 2019 industial. All Rights Reserved.</div>
    </div>
  </div>
  <!--Copyright End-->